body {
    font-family: cursive;
    padding: 0;
    margin: 0;
    background: #f5f5f5;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    background: #0077ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

.gallery img {
    width: 200px;
    display: block;
}

.tab-content {
    margin-top: 10px;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}